/**
 * @author Lasse Juul Kolding / http://dubbilan.net/
 */

 #threecontent {
 	position: absolute;
 	top:0;
 	left: 0;
 	overflow:hidden;
 	z-index: 0;
 }
 #progressBarHolder {
 	position: absolute;
 	top:0px;
 	left: 0px;
 	background: transparent;
 	color: #abc;
 	z-index: 10;
 }
 #log {
 	position: absolute;
 	top:0px;
 	left: 140px;
    height: 400px;
 	background: transparent;
 	color: #ffffff;
 	z-index: 10;
    overflow-y:auto;
 }
 .ui-progressbar {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	width: 190px;
 	height: 20px;
 }
 .progress-label {
 	position: absolute;
 	left: 40%;
 	top: 1px;
 	font-weight: bold;
 	text-shadow: 1px 1px 0 #fff;
 }
 .ui-tooltip {
 	padding: 10px 10px;
 	color: black;
 	border-radius: 10px;
 	font: bold 8px "Helvetica Neue", Sans-Serif;
 	text-transform: uppercase;
 	box-shadow: 0 0 4px #6699cc;
 }
 .ui-dialog-titlebar {
 	height: 12px;
 	font: bold 11px "Helvetica Neue", Sans-Serif;
 }
 .ui-dialog-titlebar-close {
 	display: none;
 }
